$primary: #11726F;
$secondary: #AFEDD4;
$success: #C1FF9B;
$info: #F5FFC6;
$warning: #feffb1;
$danger: #ff8585;
$light: #eee7dc;
$dark: #060a09;

@import "../node_modules/bootstrap/scss/bootstrap";